
div#top_level {
    display: grid;
    grid-template-rows: 5fr 1fr 5fr;
    row-gap: 10px;
}


div#input {
    display: grid
}

textarea {
    border: 2px solid #ddd;
    width: 100%;
}

.container {
    height: 20px;
    position: relative;
}

.center {
    margin: 10;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

/* Component Needs */

.pc-tab>input,
.pc-tab>div textarea {
    display: none;
}

#areas {
    display: grid;
    grid-template-rows: 1fr 5fr;
    row-gap: 0px;
}

#tab1:checked~div .tab1,
#tab2:checked~div .tab2,
#tab3:checked~div .tab3 {
    display: block;
}

#c14n_output {
    width: 100%;
    /* border: solid red; */
    transform: translateY(-26px);
}

#c14_output textarea {}


.pc-tab ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

.pc-tab ul li label {
    float: left;
    padding: 15px 25px;
    border: 1px solid #ddd;
    border-bottom: 1px;
    background: #eeeeee;
    color: #444;
}

.pc-tab ul li label:hover {
    background: #dddddd;
}

.pc-tab ul li label:active {
    background: #ffffff;
}

.pc-tab ul li:not(:last-child) label {
    border-right-width: 0;
}


#tab1:checked~div nav .tab1 label,
#tab2:checked~div nav .tab2 label,
#tab3:checked~div nav .tab3 label {
    background: white;
    color: #111;
    position: relative;
}

#tab1:checked~div nav .tab1 label:after,
#tab2:checked~div nav .tab2 label:after,
#tab3:checked~div nav .tab3 label:after {
    content: '';
    display: block;
    position: absolute;
    height: 2px;
    width: 100%;
    background: #ffffff;
    left: 0;
    bottom: -1px;
}

